@charset "utf-8";
/*css document*/

.hidden
{
	display: none;
}

/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

body
{
	background: #603813; 
/*background: -moz-linear-gradient(top, #603813 0%, #8a6037 50%, #603813 100%); 
background: -webkit-linear-gradient(top, #603813 0%,#8a6037 50%,#603813 100%); 
background: linear-gradient(to bottom, #603813 0%,#8a6037 50%,#603813 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#603813', endColorstr='#603813',GradientType=0 );*/
}


.container
{
	margin: 0 auto;
	/*width: 1372px;*/
	height: 773px;
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	padding-top: 1px;
}

.title
{
	width: 230px;
	height: 100px;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 85px;
}

.dropZoneCon
{
	width: 1120px;
	height: 250px;
	margin: 0 auto;
	/*margin-top: 210px;*/
	margin-bottom: 57px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}



.guitar
{
	background: url(../images/guitar.png);
	height: 195px;
	width: 95px;
}

.singer-lady
{
	background: url(../images/lady_singer.png);
	height: 195px;
	width: 79px;
}

.pianist
{
	background: url(../images/piano.png) no-repeat;
	height: 185px;
	width: 340px;
}

.singer-man
{
	background: url(../images/singer.png) no-repeat;
	width: 144px;
	height: 195px;
}

.saxophonist
{
	background: url(../images/saxo.png);
	width: 84px;
	height: 195px;
}

.singer-lady, .singer-man
{
	margin-top: 50px;
}

.dragArea
{
	width: 1120px;
	height: 240px;
	background-color: rgba(97, 94, 91, 0.3);
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 25px;
	border: solid 1.5px #ccb49c;

}

#guitar 
{
	
	height: 195px;
	width: 95px;
}

#singer-lady 
{
	
	height: 195px;
	width: 79px;
}

#pianist 
{
	
	height: 195px;
	width: 340px;
}

#singer-man 
{
	
	width: 144px;
	height: 195px;
}

#saxophonist 
{
	
	width: 84px;
	height: 195px;
}


.dropZone img
{
	width: 100% !important;
	height: 100% !important;
	
}
















